.preview {
    max-width: 920px;

    &.--tshirt {
        &.--front {
            .print-area {
                top: 17%;
                left: 25.3%;
                width: 49%;
                height: 73%;
            }
        }

        &.--back {
            .print-area {
                top: 11%;
                left: 25.7%;
                width: 48.4%;
                height: 79%;
            }
        }
    }

    &.--polo {
        &.--front {
            .print-area {
                top: 33%;
                left: 23.5%;
                width: 52%;
                height: 58%;
            }
        }

        &.--back {
            .print-area {
                top: 12%;
                left: 23.5%;
                width: 52.6%;
                height: 79%;
            }
        }
    }

    &.--hoodie {
        &.--front {
            .print-area {
                top: 39%;
                left: 27%;
                width: 46%;
                height: 48%;
            }
        }

        &.--back {
            .print-area {
                top: 33%;
                left: 27%;
                width: 46%;
                height: 53%;
            }
        }
    } 
}

.resize-handle {
    width: 12px;
    height: 12px;
    background: #000;
    position: absolute;
    cursor: se-resize;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.3s ease;

    &.top-right-handle {
        top: 6px;
        right: 6px;
    }
    &.bottom-right-handle {
        bottom: 6px;
        right: 6px;
    }
    &.bottom-left-handle {
        bottom: 6px;
        left: 6px;
    }
    &.top-left-handle {
        top: 6px;
        left: 6px;
    }
}

.print-element {
    border: 1px solid transparent;
    transition: border 0.3s ease;
    
    &:hover {
        border: 1px solid #666;

        .resize-handle {
            opacity: 1;
        }
    }
}