.preview {
    max-width: 920px;

    &.--tshirt {
        &.--front {
            .print-area {
                top: 17%;
                left: 25.3%;
                width: 49%;
                height: 73%;
            }
        }

        &.--back {
            .print-area {
                top: 11%;
                left: 25.7%;
                width: 48.4%;
                height: 79%;
            }
        }
    }

    &.--polo {
        &.--front {
            .print-area {
                top: 33%;
                left: 23.5%;
                width: 52%;
                height: 58%;
            }
        }

        &.--back {
            .print-area {
                top: 12%;
                left: 23.5%;
                width: 52.6%;
                height: 79%;
            }
        }
    }
}

.preview.--hoodie.--front .print-area {
    top: 39%;
    left: 27%;
    width: 46%;
    height: 48%;
}

.preview.--hoodie.--back .print-area {
    top: 33%;
    left: 27%;
    width: 46%;
    height: 53%;
}