@import "tailwindcss";

.preview {
    max-width: 920px;
}

.preview.--tshirt.--front .print-area {
    top: 21%;
    left: 15%;
    width: 23%;
    height: 63%;
}

.preview.--tshirt.--back .print-area {
    top: 17%;
    left: 61.8%;
    width: 23%;
    height: 67%;
}

.preview.--polo.--front .print-area {
    top: 35%;
    left: 16.5%;
    width: 21.5%;
    height: 52%;
}

.preview.--polo.--back .print-area {
    top: 16%;
    left: 61.8%;
    width: 21.5%;
    height: 71%;
}

.preview.--hoodie.--front .print-area {
    top: 40.5%;
    left: 16%;
    width: 21.5%;
    height: 42%;
}

.preview.--hoodie.--back .print-area {
    top: 35%;
    left: 63%;
    width: 20.5%;
    height: 47%;
}